@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */
/* common css starts*/

* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono";
}

.btn-practice {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
}

.card {
  margin: 0 97px 32px 97px;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.common-size {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.c2 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}

.s2 {
  max-width: 1140px;
}

.common-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 24px;
}

.common-box {
  margin: 0 144px 48px 144px;
}

/* common css ends */
/* Navbar Starts */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
}

.nav-title {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
}

.nav-button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px 17px 24px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
}

/* Navbar ends */
/* Banner starts */

.banner {
  background-image: url("../assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  padding-top: 26px;
  padding-bottom: 45px;
}

.banner-content {
  width: 998px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.banner .image-box {
  margin-bottom: 32px;
}

.banner .title {
  width: 998px;
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  margin-bottom: 24px;
}

.banner .description {
  width: 852px;
  text-align: center;
  margin-bottom: 32px;
}

.banner .btn {
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  cursor: pointer;
}

/* Banner ends */
/* Web development part starts*/
/* part 1 */

.about-box {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 0px;
  margin: 74px auto 90px auto;
}

.about p {
  text-align: center;
}

/* part 2 */

.about-practice {
  background-color: white;
}

.practice-card h4 {
  max-width: 390px;
}

.practice-card p {
  text-align: left;
  margin-bottom: 32px;
}

.image-card {
  margin-bottom: 19px;
}

/* part 3 */

.modern-card {
  background: rgba(13, 19, 33, 0.02);
}

.modern-image {
  margin-bottom: 31px;
}

.web-card h4 {
  text-align: left;
}

.web-card p {
  text-align: left;
  margin-bottom: 32px;
}

/* Web development part ends */
/* Inspiration part starts */

.inspiration-box {
  margin: 0 auto 151px auto;
}

.ins p {
  text-align: center;
}

.you-tube {
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

.you-tube iframe {
  border-radius: 16px;
}

/* Inspiration part ends */
/* current target part starts */

.current-target {
  margin: 0 auto 111px auto;
}

.cur1 p {
  text-align: center;
}

.target-card {
  display: flex;
  gap: 24px;
}

.car1 {
  background: rgba(255, 76, 30, 0.05);
}

.k1 {
  border-radius: 16px;
  padding: 40px;
  width: 364px;
}

.logo {
  margin-bottom: 24px;
}

.car1-title {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin-bottom: 8px;
}

.target-card p {
  margin-bottom: 24px;
}

.target-card a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration-line: underline;
}

.car2 {
  background: rgba(0, 76, 232, 0.05);
}

.car3 {
  background: rgba(255, 223, 0, 0.05);
}

/* current target part ends */